@media only screen and (max-width:750px) {
	.group_table {
		float: left;
		padding-left: 25px;
		margin-left: 0px;
	}
}

@media only screen and (max-width:698px) {
	.allList {
	padding-left: 25px;
	}
}

@media only screen and (max-width:651px) {
	.searchBlock {
		margin: 0px 17px 12px;
	}
	.logoBlock {
		margin: 10px 0px 10px 40px;
	}
	div p.p1 {
		font-size: 15px;
	}
	div h3 {
		font-size: 15px;
	}
	div p.p2 {
		font-size: 15px;
	}
	nav.ad_navigation {
		display: block;
	}
	nav.navigation {
		display: none;
	}
	div.string a {
		font: 400 14px / 24px Arial;
	}
	div.string span.color {
		font: 400 14px / 24px Arial;
	}
	div.string a.color {
		font: 400 14px / 24px Arial;
	}
}

@media only screen and (max-width:468px) {
	.clearBoth {
		display: block;
	}
	.LeftSideBar {
	float: none;
	max-width: 213px;
	display: block;
	margin: 0 auto;
	padding-top: 25px;
	}
	.article_h1, .article_p, .imgGroup {
	padding-left: 25px;
	}
	div p.p1 {
		font-size: 12px;
	}
	div h3 {
		font-size: 12px;
	}
	div p.p2 {
		font-size: 12px;
	}
}

@media only screen and (max-width:250px) {
	div p.p2 {
		display: none;
	}
	div.string {
	padding-left: 13px;
		min-width: 220px;
	}
}