body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

@font-face {
  font-family: Bariol;
  src: url("../fonts/Bariol/bariol-webfont.eot");
  src: url("../fonts/Bariol/bariol-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/Bariol/bariol-webfont.woff2") format('woff2'), url("../fonts/Bariol/bariol-webfont.woff") format('woff'), url("../fonts/Bariol/bariol-webfont.ttf") format('truetype'), url("../fonts/Bariol/bariol-webfont.svg#bariol-webfont") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MyriadPro-Bold;
  src: url("../fonts/MyriadPro-Bold/MyriadPro-Bold.eot");
  src: url("../fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/MyriadPro-Bold/MyriadPro-Bold.woff") format('woff'), url("../fonts/MyriadPro-Bold/MyriadPro-Bold.ttf") format('truetype'), url("../fonts/MyriadPro-Bold/MyriadPro-Bold.svg#MyriadPro-Bold") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MyriadPro-Regular;
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format('woff'), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format('truetype'), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MyriadPro-Semibold;
  src: url("../fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot");
  src: url("../fonts/MyriadPro-Semibold/MyriadPro-Semibold.eot?#iefix") format('embedded-opentype'), url("../fonts/MyriadPro-Semibold/MyriadPro-Semibold.woff") format('woff'), url("../fonts/MyriadPro-Semibold/MyriadPro-Semibold.ttf") format('truetype'), url("../fonts/MyriadPro-Semibold/MyriadPro-Semibold.svg#MyriadPro-Semibold") format('svg');
  font-weight: normal;
  font-style: normal;
}

.wrapper,
.wrapper-2 {
  max-width: 950px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.h-60 {
  font-size: 60px;
  text-align: center;
  margin: 0px 0px 20px;
  padding-top: 67px;
}

.h-40 {
  font-size: 40px;
  text-align: center;
}

.h-30 {
  font-size: 30px;
  text-align: center;
}

.h-25 {
  font-size: 25px;
  text-align: center;
}

.h-21 {
  font-size: 21px;
  text-align: center;
  line-height: 56.365px;
  color: #232324;
}

.h-20 {
  font-size: 20px;
  text-align: center;
}

.h-19 {
  font-size: 19px;
  text-align: center;
  line-height: 24px;
  color: #232324;
}

.h-18 {
  font-size: 18px;
  text-align: center;
  line-height: 21px;
  color: #e74c3c;
}

.cur {
  font-family: MyriadPro-Semibold;
  font-size: 32px;
  font-weight: 600;
}

.val {
  font-family: MyriadPro-Bold;
  font-size: 64px;
  font-weight: 700;
}

.per {
  font-family: MyriadPro-Regular;
  font-size: 25px;
  font-weight: 400;
}

.white {
  color: #ffffff;
}

.red-bg-icon {
  display: inline-block;
  border-radius: 2px;
  margin-left: 3px;
  margin-top: 3px;
  margin-bottom: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 9px;
  padding-right: 7px;
  background-color: #eb4f4e;
}

a {
  text-decoration: none;
  color: #ffffff;
}

figure,
figcaption {
  margin: 0;
  padding: 0;
}

body {
  font-family: Bariol;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  background-color: #ffffff;
}

.coal {
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: linear-gradient(211deg, #eb4f4e 0%, #eb4f4e 40%, transparent 40%);
}

header {
  min-height: 110px;
  background-color: #f56262;
}

header .items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  justify-content: space-between;
  align-items: flex-start;
}

header .items .left-logo {
  text-align: left;
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  word-wrap: break-word;
  /* ставит межколоночники */
  width: calc(25% - 10px);
  /* ставим размер */
}

header .items .left-logo ul {
  display: inline-block;
}

header .items .left-logo ul li:nth-child(1) {
  display: inline-block;
  line-height: 28px;
  font-size: 35px;
  margin-top: 26px;
  text-shadow: 0px 1px 1px #c34b2a;
  letter-spacing: 2px;
}

header .items .left-logo ul li:nth-child(2) {
  display: inline-block;
  font-size: 17px;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  margin-top: 4px;
  margin-left: -1px;
}

header .items .right-nav {
  margin-left: auto;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  letter-spacing: 0.32px;
  font-weight: 700;
  margin-top: 44px;
}

header .items .right-nav ul li {
  float: left;
}

header .items .right-nav ul li a {
  padding: 6px 14px;
  margin-left: 16px;
}

header .items .right-nav ul li a:hover {
  border-radius: 3px;
  background-color: #232324;
}

header .items .right-nav ul li:nth-last-child(6) a {
  margin-left: 0px;
}

.slider-col-24 {
  background-color: #eb4f4e;
}

.slider-col-24 .h-60 {
  text-shadow: 0px 1px 1px #c34b2a;
  letter-spacing: 10px;
}

.slider-col-24 .h-20 {
  text-shadow: 0px 1px 1px #c34b2a;
  margin-top: 34px;
  letter-spacing: 1.6px;
  margin-bottom: 14px;
}

.slider-col-24 .wrapper {
  max-width: 1342px;
}

.slider-col-24 .wrapper img {
  width: 100%;
}

.merits {
  margin-top: -135px;
  padding-top: 45px;
  background-color: #232324;
}

.merits .h-40 {
  letter-spacing: 7px;
  margin: 0 0 0 7px;
}

.merits .h-20 {
  color: #d84948;
  margin: 18px 0 40px;
  letter-spacing: 1px;
}

.merits .items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  justify-content: space-around;
}

.merits .items .item {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  word-wrap: break-word;
  width: calc(25% - 10px);
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  flex-direction: column;
  align-items: center;
}

.merits .items .item .h-30 {
  margin-top: 15px;
  letter-spacing: 0.7px;
}

.merits .items .item .h-18 {
  margin: 9px 0 24px;
  letter-spacing: 1.1px;
}

.team {
  background-color: #6cc473;
}

.team .h-40 {
  margin: 0 0 0 7px;
  padding-top: 46px;
  letter-spacing: 7px;
}

.team .h-20 {
  margin-bottom: 37px;
  margin-top: 18px;
  color: #232324;
  letter-spacing: 1px;
}

.team .row-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  justify-content: space-between;
}

.team .row-team .item-team {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  word-wrap: break-word;
  width: calc(25% - 10px);
  background-color: #ffffff;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 26px;
  display: flex;
  flex-direction: column;
}

.team .row-team .item-team img {
  margin: 24px auto 21px auto;
  width: 72%;
}

.team .row-team .item-team .h-25 {
  padding-bottom: 10px;
  color: #6cc372;
  text-shadow: 0px 1px 1px #ffffff;
}

.team .row-team .item-team .h-18 {
  margin-top: auto;
  color: #d84948;
  letter-spacing: 1px;
  text-shadow: 0px 1px 1px #ffffff;
}

.team .row-team .item-team .fa {
  font-size: 40px;
  color: #ffffff;
  margin-left: 12px;
}

.team .row-team .item-team .button {
  margin: 24px 11px 11px 11px;
  min-height: 43px;
  min-width: 150px;
  width: auto;
  text-align: left;
  font-size: 25px;
  background-color: #6cc473;
}

.team .row-team .item-team .button:hover {
  color: #232324;
  background-color: #48b551;
}

.team .row-team .item-team .button:hover .fa {
  color: #232324;
}

.team .row-team .item-team .button .fa,
.team .row-team .item-team .button .la {
  vertical-align: bottom;
  line-height: 4px;
}

.team .row-team .item-team .button .la {
  margin-left: 13px;
  letter-spacing: 3px;
}

.portfolio {
  background-color: #f0f0f0;
  padding-bottom: 128px;
  border-bottom: 1px solid #d8d8d8;
}

.portfolio .wrapper {
  max-width: 1226px;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-position: 50% 79%;
}

.portfolio .wrapper .h-40 {
  padding-top: 42px;
  color: #616161;
  letter-spacing: 7px;
}

.portfolio .wrapper .h-20 {
  margin: 18px 0 32px 0;
  color: #61af66;
  letter-spacing: 1.1px;
}

.portfolio .wrapper .wrapper-2 {
  max-width: 950px;
}

.portfolio .wrapper .wrapper-2 .items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  text-align: center;
  line-height: 46.365px;
}

.portfolio .wrapper .wrapper-2 .items .item {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  word-wrap: break-word;
  width: calc(25% - 10px);
  padding-bottom: 77px;
}

.portfolio .wrapper .wrapper-2 .items .item img {
  width: 88%;
}

.pricing {
  margin-top: -134px;
}

.pricing .items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  align-items: flex-end;
}

.pricing .items .item {
  box-sizing: border-box;
  margin-left: 5px;
  margin-right: 5px;
  word-wrap: break-word;
  width: calc(33.333333333333336% - 10px);
  text-align: center;
}

.pricing .items .item .header {
  position: relative;
  border-bottom: 1px solid #d8d8d8;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #ffffff;
}

.pricing .items .item .header .left-top {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 112px;
  height: 1px;
  background-color: #d8d8d8;
}

.pricing .items .item .header .right-top {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 112px;
  height: 1px;
  background-color: #d8d8d8;
}

.pricing .items .item .header .left-button {
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 112px;
  height: 1px;
  background-color: #ffffff;
}

.pricing .items .item .header .right-button {
  position: absolute;
  right: 0px;
  bottom: -1px;
  width: 112px;
  height: 1px;
  background-color: #ffffff;
}

.pricing .items .item .header .center {
  position: absolute;
  right: 45%;
  bottom: -12%;
}

.pricing .items .item .header .h-40 {
  line-height: 19px;
  color: #616161;
  letter-spacing: 4px;
  padding-top: 20px;
  padding-bottom: 23px;
}

.pricing .items .item .header .h-20 {
  color: #eb4f4e;
  line-height: 25px;
  letter-spacing: 2.3px;
  padding-bottom: 22px;
}

.pricing .items .item ul li {
  padding: 12px 0;
  letter-spacing: 2.4px;
  color: #616161;
  background: #f0f0f0;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #ffffff;
}

.pricing .items .item ul > li:nth-last-child(1) {
  padding-bottom: 14px;
}

.pricing .items .item .footer {
  display: flex;
  background: #616161;
  padding-top: 27px;
  padding-bottom: 30px;
  padding-left: 9px;
  padding-right: 19px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pricing .items .item .footer .cur {
  align-self: flex-start;
  margin-top: 4px;
}

.pricing .items .item .footer .val {
  align-self: center;
  margin-top: -8px;
}

.pricing .items .item .footer .per {
  align-self: flex-end;
  margin-top: 15px;
  margin-left: 4px;
}

.pricing .items .item .footer .h-21 {
  padding: 5px 23px;
  border-radius: 5px;
  margin: 2px 0 2px auto;
  line-height: 24px;
  background-color: #ffffff;
}

.pricing .items .middle .header {
  border-bottom: inherit;
}

.pricing .items .middle .header .h-40 {
  color: #eb4f4e;
}

.pricing .items .middle .header .h-20 {
  color: #616161;
}

.pricing .items .middle ul > li:nth-last-child(4) {
  border-top: inherit;
}

.pricing .items .middle .footer {
  background-color: #eb4f4e;
}

.pricing .items .middle .footer .h-21 {
  color: #eb4f4e;
}

.pricing .wrapper > .h-20 {
  color: #eb4f4e;
  margin-top: 22px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.tweets {
  background-color: #eb4f4e;
}

.tweets .wrapper {
  max-width: 1173px;
  background-image: url("../images/nav.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tweets .wrapper .h-40 {
  padding-top: 43px;
  padding-bottom: 18px;
  letter-spacing: 7px;
}

.tweets .wrapper .h-20 {
  color: #232324;
  letter-spacing: 1px;
  padding-bottom: 23px;
}

.tweets .wrapper .f {
  text-align: center;
  font-size: 40px;
  padding-bottom: 7px;
}

.tweets .wrapper .wrapper-2 .h-21 {
  line-height: 36px;
  text-align: left;
  padding-bottom: 24px;
}

footer {
  background-color: #ffffff;
  min-height: 299px;
  background-image: url("../images/map.png");
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

footer .wr {
  padding-top: 7px;
  background-color: #232324;
}

footer .wr .wrapper .copy .left-footer {
  line-height: 32px;
  letter-spacing: 0.4px;
  float: left;
}

footer .wr .wrapper .copy .right-footer {
  float: right;
}

footer .bg-map {
  text-align: center;
}

footer .bg-map .info {
  position: relative;
  margin: 50px auto auto auto;
  display: block;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(35, 35, 36, 0.9);
  max-width: 617px;
}

footer .bg-map .info ul {
  line-height: 44px;
}

footer .bg-map .info ul li:nth-last-child(1) {
  color: #eb4f4e;
  letter-spacing: 0.3px;
  padding-bottom: 17px;
}

footer .bg-map .info ul li:nth-last-child(2) a {
  color: #eb4f4e;
  letter-spacing: 0.3px;
}

footer .bg-map .info img {
  position: absolute;
  bottom: -8px;
  left: 50%;
}

@media screen and (max-width: 1111px) {
  .coal {
    display: none;
  }
}

@media screen and (max-width: 1100px) {
  .wrapper,
  .wrapper-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 960px) {
  .wrapper,
  .wrapper-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .slider-col-24 .wrapper {
    margin-bottom: 100px;
  }

  .merits .items .item .h-18 {
    margin-top: auto;
  }

  .merits .items .item .h-30 {
    padding-bottom: 9px;
  }

  .portfolio .wrapper .wrapper-2 .items {
    justify-content: space-around;
  }

  .portfolio .wrapper .wrapper-2 .items .item {
    width: calc(16.666666666666668% - 10px);
  }

  .portfolio .wrapper .wrapper-2 .items .item img {
    width: 100%;
  }

  .portfolio .wrapper .wrapper-2 .items .item figcaption {
    font-size: 13px;
  }
}

@media screen and (max-width: 780px) {
  .wrapper,
  .wrapper-2 {
    padding-left: 15px;
    padding-right: 15px;
  }

  .portfolio .wrapper {
    background-image: none;
  }

  header .items {
    flex-direction: column;
  }

  header .items {
    align-items: center;
  }

  header .items .left-logo {
    width: calc(100% - 10px);
  }

  header .items .left-logo {
    text-align: center;
  }

  header .items .right-nav {
    margin-left: 0;
  }

  header .items .right-nav {
    font-size: 14px;
  }

  .slider-col-24 .h-60 {
    font-size: 50px;
  }

  .merits {
    padding-top: 15px;
  }

  .team .h-40 {
    padding-top: 15px;
  }

  .team .row-team .item-team {
    width: calc(50% - 10px);
  }

  .team .row-team .item-team .button {
    text-align: center;
  }

  .portfolio .wrapper .h-40 {
    padding-top: 15px;
  }

  .portfolio .wrapper .wrapper-2 .items .item {
    width: calc(50% - 10px);
  }

  .portfolio .wrapper .wrapper-2 .items .item figcaption {
    font-size: 30px;
  }

  .pricing .items {
    justify-content: center;
  }

  .pricing .items .item {
    padding-top: 30px;
  }

  .pricing .items .item {
    width: calc(58.333333333333336% - 10px);
  }

  .pricing .items .item .header {
    border: 1px solid #eb4f4e;
  }

  .tweets .wrapper .h-40 {
    padding-top: 15px;
  }
}

@media screen and (max-width: 560px) {
  .wrapper,
  .wrapper-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  header .items .right-nav {
    margin-top: 10px;
  }

  header .items .right-nav {
    font-size: 21px;
  }

  header .items .right-nav {
    text-align: center;
  }

  header .items .right-nav ul li {
    float: none;
  }

  header .items .right-nav ul li {
    padding-top: 5px;
  }

  header .items .right-nav ul li {
    padding-bottom: 5px;
  }

  header .items .right-nav ul li a {
    margin-left: 0px;
  }

  header .items .right-nav ul li a {
    padding-left: 93px;
  }

  header .items .right-nav ul li a {
    padding-right: 93px;
  }

  header .items .right-nav ul li a:hover {
    color: #232324;
  }

  header .items .right-nav ul li a:hover {
    background-color: #ffffff;
  }

  .slider-col-24 .h-60 {
    font-size: 36px;
  }

  .slider-col-24 .h-60 {
    padding-top: 20px;
  }

  .slider-col-24 .h-60 {
    line-height: 32px;
  }

  .merits .h-40 {
    line-height: 32px;
  }

  .merits .items {
    flex-direction: column;
  }

  .merits .items {
    align-content: center;
  }

  .merits .items {
    align-items: center;
  }

  .merits .items .item {
    width: calc(66.66666666666667% - 10px);
  }

  .team .h-40 {
    line-height: 32px;
  }

  .team .row-team .item-team {
    width: calc(100% - 10px);
  }

  .portfolio .wrapper .h-40 {
    line-height: 32px;
  }

  .portfolio .wrapper .wrapper-2 .items .item {
    width: calc(66.66666666666667% - 10px);
  }

  .pricing .items .item {
    width: calc(100% - 10px);
  }

  .tweets .wrapper .h-40 {
    line-height: 32px;
  }

  footer .wr .wrapper .copy .left-footer {
    float: none;
  }

  footer .wr .wrapper .copy .right-footer {
    float: none;
  }

  footer .wr .wrapper .copy .right-footer {
    text-align: center;
  }

  footer .bg-map .info {
    margin-top: 10px;
  }
}